Repository LabEsUFPA/meuEgresso, pull requests merged in 2023-06, with the labels that each got.

#244 179 bug correção de bugs do back end
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EgressoModel.java
  backend/meuegresso/src/main/resources/data.sql
  backend/meuegresso/src/main/resources/dump.sql
Labels: Back-End, database

#246 243 bug correcao perfil egresso
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/config/security/SecurityConfig.java
  frontend/package-lock.json
  frontend/src/components/FolderAcademico.vue
  frontend/src/components/FolderAdicionais.vue
  frontend/src/components/FolderCarreira.vue
  frontend/src/components/FolderGeral.vue
  frontend/src/components/FolderLocalizacao.vue
  frontend/src/components/FotoInput.vue
  frontend/src/components/HeaderAndFooter.vue
  frontend/src/components/ProfileImage.vue
  frontend/src/pages/PerfilEgresso.vue
  frontend/src/pages/aux.vue
  frontend/src/store/CadastroEgresso.ts
  frontend/src/store/PerfilEgressoStore.ts
Labels: Done, Front-End, Back-End, nivel:critico

#252 244 correcao bug foto perfil
  frontend/src/pages/PerfilEgresso.vue
Labels: bug, Done, Front-End, nivel:normal

#266 250 correção bug edição perfil endereço
  frontend/src/components/CustomSelect.vue
  frontend/src/components/FolderAcademico.vue
  frontend/src/components/FolderCarreira.vue
  frontend/src/components/FolderLocalizacao.vue
  frontend/src/pages/PerfilEgresso.vue
Labels: Done, Front-End

#255 243 refactor otimizar consultas referentes à geração do mapa
  backend/meuegresso/pom.xml
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/publico/grafico/GraficoPubController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/AreaAtuacaoGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/BolsistasGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/CotaGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/CotistaGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/GenerosGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/IdadesGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/InteresseEmPosGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/PosGraduacaoGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/RemuneracaoGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/SalarioGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/SetorAtuacaoGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/TipoAlunoGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/TipoBolsaGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EgressoCotaModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EgressoCotaModelId.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/areaatuacao/AreaAtuacaoRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/cota/CotaRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/egresso/EgressoRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/faixasalarial/FaixaSalarialRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/genero/GeneroRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/setoratuacao/SetorAtuacaoRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/tipobolsa/TipoBolsaRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/anuncio/AnuncioService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/areaatuacao/AreaAtuacaoService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/areaatuacao/impl/AreaAtuacaoImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/cota/CotaService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/cota/impl/CotaServiceImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/EgressoService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/impl/EgressoServiceImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/faixasalarial/FaixaSalarialService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/faixasalarial/impl/FaixaSalarialServiceImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/genero/GeneroService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/genero/impl/GeneroServiceImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/setoratuacao/SetorAtuacaoService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/setoratuacao/impl/SetorAtuacaoServiceImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/tipobolsa/TipoBolsaService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/tipobolsa/impl/TipoBolsaServiceImpl.java
  backend/meuegresso/src/main/resources/application-test.yml
  backend/meuegresso/src/main/resources/application.yml
  backend/meuegresso/src/main/resources/h2alias/age.sql
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/publico/grafico/GraficoPubControllerTest.java
Labels: Done, Back-End, refactor

#271 Fix: usuário não logado impedido de anunciar vaga
  backend/meuegresso/pom.xml
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/AreaAtuacaoGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/BolsistasGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/CotaGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/CotistaGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/GenerosGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/IdadesGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/InteresseEmPosGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/PosGraduacaoGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/RemuneracaoGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/SalarioGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/SetorAtuacaoGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/TipoAlunoGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/grafico/TipoBolsaGraficoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EgressoCotaModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EgressoCotaModelId.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/areaatuacao/AreaAtuacaoRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/cota/CotaRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/egresso/EgressoRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/faixasalarial/FaixaSalarialRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/genero/GeneroRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/setoratuacao/SetorAtuacaoRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/tipobolsa/TipoBolsaRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/anuncio/AnuncioService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/areaatuacao/AreaAtuacaoService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/areaatuacao/impl/AreaAtuacaoImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/cota/CotaService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/cota/impl/CotaServiceImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/EgressoService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/impl/EgressoServiceImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/faixasalarial/FaixaSalarialService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/faixasalarial/impl/FaixaSalarialServiceImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/genero/GeneroService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/genero/impl/GeneroServiceImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/setoratuacao/SetorAtuacaoService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/setoratuacao/impl/SetorAtuacaoServiceImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/tipobolsa/TipoBolsaService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/tipobolsa/impl/TipoBolsaServiceImpl.java
  backend/meuegresso/src/main/resources/application.yml
  backend/meuegresso/src/main/resources/h2alias/age.sql
  frontend/src/components/CustomSelect.vue
  frontend/src/components/FolderAcademico.vue
  frontend/src/components/FolderCarreira.vue
  frontend/src/pages/FeedVagas.vue
  frontend/src/pages/PerfilEgresso.vue
Labels: bug, Done, Front-End, nivel:baixo

#267 fix: tipo cota erro ao submit
  frontend/src/components/CustomCheckbox.vue
  frontend/src/pages/CadastroEgresso.vue
Labels: bug, atrasado

#272 190 bug visualização perfil campos vazios
  frontend/src/components/CustomPerfilData.vue
  frontend/src/components/FolderAdicionais.vue
  frontend/src/components/FolderCarreira.vue
  frontend/src/pages/PerfilEgresso.vue
Labels: Done, Front-End

#276 style: melhorar ux ao selecionar cota
  frontend/src/components/CustomCheckbox.vue
  frontend/src/pages/CadastroEgresso.vue
Labels: Front-End, refactor

#278 263 bug erros de ortografia no datasql backend
  backend/meuegresso/src/main/resources/data.sql
  backend/meuegresso/src/main/resources/dump.sql
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/usuario/UsuarioControllerTest.java
Labels: Back-End, refactor, nivel:critico

#280 fix: geração de dump nova
  backend/meuegresso/src/main/resources/dump.sql
Labels: Done, Back-End, refactor, database

#282 268 melhoria crud anuncio
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/administrador/anuncio/AnuncioAdmController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/anuncio/AnuncioController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/egresso/EgressoValidoController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/EgressoValidoService.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/publico/egresso/EgressoPubControllerTest.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/repository/usuario/UsuarioRepositoryTest.java
  frontend/src/components/CustomPerfilData.vue
  frontend/src/components/SearchBar.vue
  frontend/src/pages/AnuncioVaga.vue
  frontend/src/pages/FeedVagas.vue
  frontend/src/store/AnuncioVagaStore.ts
Labels: enhancement, Done, Front-End, Back-End, nivel:baixo

#283 [FEATURE]: Recuperação de Senha
  backend/meuegresso/pom.xml
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/auth/AuthenticationController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/auth/AuthNewPasswordRequest.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/auth/AuthRecoveryPasswordRequest.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/enumeration/ErrorType.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/enumeration/ResponseType.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/exceptions/ExpireRequestException.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/RecuperacaoSenhaModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/projections/usuario/RecoveryPasswordProjection.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/recuperacaosenha/RecuperacaoSenhaRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/usuario/UsuarioRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/mail/MailService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/mail/impl/MailServiceImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/recuperacaosenha/RecuperacaoSenhaService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/recuperacaosenha/impl/RecuperacaoSenhaServiceImpl.java
  backend/meuegresso/src/main/resources/application-test.yml
  backend/meuegresso/src/main/resources/application.yml
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/config/Configuracao.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/anuncio/AnuncioControllerTest.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/egresso/EgressoControllerTest.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/publico/grafico/GraficoPubControllerTest.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/publico/mapa/MapaControllerTest.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/usuario/UsuarioControllerTest.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/@types/index.d.ts
  frontend/src/components/CustomCheckbox.vue
  frontend/src/components/CustomDialog.vue
  frontend/src/components/CustomInput.vue
  frontend/src/components/CustomSelect.vue
  frontend/src/components/HeaderAndFooter.vue
  frontend/src/components/UserDropdownMenu.vue
  frontend/src/main.ts
  frontend/src/pages/CadastroAdmin.vue
  frontend/src/pages/CadastroEgresso.vue
  frontend/src/pages/CadastroPerfil.vue
  frontend/src/pages/EdicaoContaAdmin.vue
  frontend/src/pages/EdicaoContaEgresso.vue
  frontend/src/pages/PaginaLogin.vue
  frontend/src/pages/RedefinirSenha.vue
  frontend/src/router/index.ts
  frontend/src/router/routes.ts
  frontend/src/services/cookieService.ts
  frontend/src/services/localStorage.ts
  frontend/src/store/LoginStore.ts
Labels: enhancement, Done, Front-End, Back-End, nivel:critico

#285 201 feature melhorias no requisito pós homologação
  frontend/src/pages/CadastroEgresso.vue
Labels: Front-End

#289 Update build-front-develop.yml
  .github/workflows/build-front-develop.yml
Labels: Config

#291 290 refactor adequar checkbox cota do cadastro de egresso na edição de perfil
  frontend/src/components/CustomInput.vue
  frontend/src/components/FolderCarreira.vue
  frontend/src/pages/PerfilEgresso.vue
Labels: Done, Front-End, refactor

#370 fix(perfil, cadastro): areaAtuacao e pcd
  frontend/src/components/CustomInput.vue
  frontend/src/pages/CadastroEgresso/CadastroEgresso.vue
  frontend/src/pages/PerfilEgresso/PerfilEgresso.vue
  frontend/src/pages/PerfilEgresso/components/FolderAcademico.vue
  frontend/src/pages/PerfilEgresso/components/FolderCarreira.vue
  frontend/src/store/CadastroEgresso.ts
  frontend/src/store/PerfilEgressoStore.ts
Labels: bug, Done, Front-End

#372 363 bug input de money retorna undefined
  frontend/src/components/CustomInput.vue
  frontend/src/pages/CadastroAnuncio/CadastroAnuncio.vue
  frontend/src/store/AnuncioVagaStore.ts
Labels: bug, Done, Front-End, nivel:critico

#371 317 bug usuário adicionado na lista de atividades recentes ao trocar paginação
  frontend/src/pages/NotificacoesAdmin/NotificacoesAdmin.vue
Labels: Front-End, nivel:critico

#373 refactor: linkedin para linkedIn nos labels
  frontend/src/pages/CadastroEgresso/CadastroEgresso.vue
  frontend/src/pages/PerfilEgresso/PerfilEgresso.vue
  frontend/src/pages/PerfilEgresso/components/FolderGeral.vue
Labels: Done, Front-End, refactor, nivel:alto

#374 refactor: labels para E-mail em todas as pages
  frontend/src/pages/CadastroAdmin/CadastroAdmin.vue
  frontend/src/pages/CadastroPerfil/CadastroPerfil.vue
Labels: Done, Front-End, nivel:alto

#375 refactor: erros de português corrigidos
  frontend/src/pages/PaginaGraficos/PaginaGraficos.vue
Labels: Done, Front-End, refactor, nivel:alto

#377 reafctor: valores dos anúncios de vaga corrigidos
  frontend/src/pages/AnuncioVaga/AnuncioVaga.vue
  frontend/src/pages/FeedVagas/FeedVagas.vue
  frontend/src/pages/FeedVagas/components/ShortPost.vue
  frontend/src/tests/ShortPost.test.ts
Labels: Done, Front-End, nivel:alto

#382 refactor: Componente SearchBar
  frontend/src/components/SearchBar.vue
  frontend/src/pages/FeedVagas/FeedVagas.vue
  frontend/src/pages/RegistroEgressos/RegistroEgressos.vue
  frontend/src/tests/SearchBar.test.ts
Labels: Done, Front-End, nivel:critico

#381 refactor: mensagem modificada
  frontend/src/pages/EmailAdmin/EmailAdmin.vue
Labels: Done, Front-End, nivel:alto

#380 refactor: placeholder matrícula perfil egresso
  frontend/src/pages/PerfilEgresso/PerfilEgresso.vue
Labels: Done, Front-End, nivel:alto

#378 332 refactor matrícula no cadastro egresso deve ter um ex no input
  frontend/src/pages/CadastroEgresso/CadastroEgresso.vue
Labels: Done, Front-End, nivel:alto

#379 refactor: acentos e pontuação faltosos
  frontend/src/pages/CadastroEgresso/CadastroEgresso.vue
Labels: Done, Front-End, nivel:alto

#384 fix: filtragem sem quebrar paginação
  frontend/src/components/ModalFilters.vue
  frontend/src/pages/FeedVagas/FeedVagas.vue
  frontend/src/pages/NotificacoesAdmin/NotificacoesAdmin.vue
  frontend/src/pages/RegistroEgressos/RegistroEgressos.vue
  frontend/src/pages/RegistroEgressos/components/ItemEgresso.vue
  frontend/src/store/AnuncioVagaStore.ts
  frontend/src/tests/ModalFilters.test.ts
Labels: bug, Done, Front-End

#385 fix: lista de egressos na página de registro de egresso em ordem descendente
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/administrador/dashboard/DashAdmController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/usuario/UsuarioRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/usuario/UsuarioService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/usuario/impl/UsuarioServiceImpl.java
  frontend/src/store/PainelStore.ts
Labels: bug, Done, Front-End, Back-End

#386 fix(login): decodificação do nome a partir do token e regex
  frontend/src/pages/CadastroEgresso/CadastroEgresso.vue
  frontend/src/pages/CadastroPerfil/CadastroPerfil.vue
  frontend/src/pages/PerfilEgresso/PerfilEgresso.vue
  frontend/src/services/localStorage.ts
Labels: bug, Done, Front-End

#387 fix: usuário pendente é desativado após exclusão
  frontend/src/components/AdminOptionsDropdown.vue
  frontend/src/store/PainelStore.ts
Labels: bug, Done, Front-End

#389 [FIX]: E-mail de redefinir senha está mandando link com localhost e não como domínio.
  frontend/src/pages/RedefinirSenha/RedefinirSenha.vue
Labels: bug, Todo, Front-End, 2

#393 fix: ícones faltosos
  frontend/public/img/edit.svg
  frontend/public/img/lattesCinza.svg
  frontend/public/img/lattesP.svg
  frontend/public/img/linkedin-icon.svg
  frontend/public/img/profile-pic.png
  frontend/public/img/wcheck.svg
  frontend/public/vite.svg
  frontend/src/assets/vue.svg
  frontend/src/pages/CadastroEgresso/CadastroEgresso.vue
  frontend/src/pages/CadastroEgresso/components/FotoInput.vue
  frontend/src/pages/PerfilEgresso/PerfilEgresso.vue
Labels: bug, Done, Front-End, nivel:critico

#392 refactor: e-mail oculto na página de enviar e-mail
  frontend/src/pages/EmailAdmin/EmailAdmin.vue
Labels: Done, Front-End, refactor, nivel:alto

#395 390 refactor remover deletar todos os dados
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/administrador/dashboard/DashAdmController.java
  frontend/src/pages/PainelAdmin/PainelAdmin.vue
Labels: Front-End, Back-End, refactor, nivel:critico, 3

#396 fix: numeração de páginas na ordem correta quando são muitas páginas
  frontend/src/components/PageSelector.vue
  frontend/src/pages/PerfilEgresso/PerfilEgresso.vue
Labels: bug, Done, Front-End

#398 refactor: e-mail destinatário individual é removido do store
  frontend/src/pages/EmailAdmin/EmailAdmin.vue
  frontend/src/pages/PainelAdmin/PainelAdmin.vue
  frontend/src/store/PainelStore.ts
Labels: Done, Front-End, refactor

#397 fix(perfil): passa matricula null caso vazia
  frontend/src/pages/PerfilEgresso/PerfilEgresso.vue
  frontend/src/store/CadastroEgresso.ts
  frontend/src/store/PerfilEgressoStore.ts
Labels: bug, Front-End, 2

#402 feat: máximo de caracteres
  frontend/src/pages/CadastroAnuncio/CadastroAnuncio.vue
Labels: enhancement, Done, Front-End

#406 feat: responsividade atividades recentes
  frontend/src/pages/NotificacoesAdmin/NotificacoesAdmin.vue
  frontend/src/pages/NotificacoesAdmin/components/NotificationItem.vue
Labels: enhancement, Done, Front-End

#409 316 bug resposta do back end de atividades recentes não está correta
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/administrador/dashboard/DashAdmController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/administrador/egresso/EgressoAdmController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/administrador/usuario/UsuarioAdmController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/auth/AuthenticationController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/egresso/EgressoController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/administradores/notificacao/NotificacaoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/enumeration/UsuarioStatus.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EgressoModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/StatusUsuarioModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/UsuarioModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/statususuario/StatusUsuarioRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/statususuario/StatusUsuarioService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/statususuario/impl/StatusUsuarioServiceImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/usuario/UsuarioService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/usuario/impl/UsuarioServiceImpl.java
  backend/meuegresso/src/main/resources/dump.sql
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/anuncio/AnuncioControllerTest.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/egresso/EgressoControllerTest.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/publico/grafico/GraficoPubControllerTest.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/publico/mapa/MapaControllerTest.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/usuario/UsuarioControllerTest.java
  frontend/src/pages/NotificacoesAdmin/NotificacoesAdmin.vue
  frontend/src/store/NotificacaoStore.ts
Labels: bug, enhancement, Front-End, Back-End, refactor, 1

#410 refactor(email,input): helper text de E-mail para todos os usuários
  frontend/src/pages/EmailAdmin/EmailAdmin.vue
  frontend/src/pages/PerfilEgresso/PerfilEgresso.vue
  frontend/src/pages/PerfilEgresso/components/CustomButtonLink.vue
Labels: Front-End, refactor, 4

#412 348 melhoria inserir número máximo de caracteres nos inputs
  frontend/src/pages/CadastroAdmin/CadastroAdmin.vue
  frontend/src/pages/CadastroAnuncio/CadastroAnuncio.vue
  frontend/src/pages/CadastroEgresso/CadastroEgresso.vue
  frontend/src/pages/CadastroPerfil/CadastroPerfil.vue
  frontend/src/pages/EdicaoContaAdmin/EdicaoContaAdmin.vue
  frontend/src/pages/EdicaoContaEgresso/EdicaoContaEgresso.vue
  frontend/src/pages/EmailAdmin/EmailAdmin.vue
  frontend/src/pages/NotificacoesAdmin/NotificacoesAdmin.vue
  frontend/src/pages/PaginaLogin/PaginaLogin.vue
  frontend/src/pages/PerfilEgresso/PerfilEgresso.vue
  frontend/src/pages/RedefinirSenha/RedefinirSenha.vue
Labels: enhancement, Done, Front-End, refactor, 7

#418 294 bug empresa e localização vinculados podem alterar outros egressos
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/administrador/egresso/EgressoAdmController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/egresso/EgressoController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/publico/grafico/GraficoPubController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoEmpresaBasicDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/empresa/EmpresaBasicDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EgressoEmpresaModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EgressoEmpresaModelId.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EmpresaModel.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/publico/grafico/GraficoPubControllerTest.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/publico/mapa/MapaControllerTest.java
  frontend/src/pages/PerfilEgresso/PerfilEgresso.vue
Labels: Done

#419 refactor: responsividade atividades recentes e outros ajustes
  frontend/src/pages/NotificacoesAdmin/NotificacoesAdmin.vue
  frontend/src/pages/NotificacoesAdmin/components/NotificationItem.vue
  frontend/src/pages/PainelAdmin/PainelAdmin.vue
  frontend/src/pages/RegistroEgressos/RegistroEgressos.vue
  frontend/src/pages/RegistroEgressos/components/ItemEgresso.vue
Labels: Front-End

#421 refact: informações de contato
  frontend/src/components/HeaderAndFooter.vue
Labels: Done, Front-End, refactor

#432 fix(profileImage): corrige inputs do oruga e icones
  frontend/public/img/round-upload.svg
  frontend/public/img/trashCan.svg
  frontend/src/pages/PerfilEgresso/components/ProfileImage.vue
Labels: refactor, 4

#434 399 melhoria código de erro para matrículas duplicadas
  .gitignore
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/config/ApplicationConfig.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/administrador/egresso/EgressoAdmController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/administrador/mensagem/MensagemAdmController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/adviser/ControllerAdvise.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/egresso/EgressoController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/enumeration/ErrorType.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/enumeration/ResponseType.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/exceptions/MatriculaAlreadyExistsException.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/MensagemModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/egresso/EgressoRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/agendamento/AgendamentoService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/agendamento/impl/AgendamentoServiceImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/EgressoService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/impl/EgressoServiceImpl.java
  frontend/package-lock.json
  frontend/src/pages/CadastroEgresso/CadastroEgresso.vue
  frontend/src/pages/PerfilEgresso/PerfilEgresso.vue
  frontend/src/pages/PerfilEgresso/components/ProfileImage.vue
  frontend/src/store/CadastroEgresso.ts
  frontend/src/store/PerfilEgressoStore.ts
Labels: enhancement, Done, Front-End, Back-End, 3

#447 [FIX]: Título e descrição do gráfico de setor de atuação
  frontend/src/pages/PaginaGraficos/PaginaGraficos.vue
Labels: Front-End

#449 fix: endereço
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/egresso/EgressoEmpresaBasicDTO.java
Labels: 1

#450 423 refactor melhorar lógica do fluxo do status de cadastro
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/administrador/egresso/EgressoAdmController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/publico/egresso/EgressoPubController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/publico/mapa/MapaController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/egresso/EgressoEmpresaRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/egresso/EgressoRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/EgressoEmpresaService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/EgressoService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/impl/EgressoEmpresaServiceImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/impl/EgressoServiceImpl.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/publico/egresso/EgressoPubControllerTest.java
Labels: Done, Back-End, 1

#452 fix: docker compose files
  backend/meuegresso/deploy_traefik.sh
  backend/meuegresso/docker-compose.api.yml
  backend/meuegresso/docker-compose.yml
  frontend/deploy_traefik.sh
  frontend/docker-compose.yml
Labels: Done, 1

#448 354 melhoria exportar pdf utilizar fuso horário e sistema de datas brasileiro
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/administrador/dashboard/DashAdmController.java
Labels: enhancement, Done, Back-End, 7

#458 [MELHORIA] Novas funcionalidades páginas de anúncios
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/anuncio/AnuncioController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/anuncio/AnuncioDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/egresso/EgressoAnuncioDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/usuario/UsuarioDTO.java
  frontend/package-lock.json
  frontend/src/@types/index.d.ts
  frontend/src/pages/AnuncioVaga/AnuncioVaga.vue
  frontend/src/pages/CadastroAnuncio/CadastroAnuncio.vue
  frontend/src/pages/FeedVagas/FeedVagas.vue
  frontend/src/pages/FeedVagas/components/ShortPost.vue
  frontend/src/pages/PainelAdmin/PainelAdmin.vue
  frontend/src/router/routes.ts
  frontend/src/store/AnuncioVagaStore.ts
  frontend/src/tests/ShortPost.test.ts
Labels: bug, Done, Front-End, Back-End, 1

#457 refactor(perfil): permite visualização dos dados da requisição
  frontend/src/pages/PerfilEgresso/PerfilEgresso.vue
Labels: enhancement, Front-End, refactor

#443 fix: matricula lança excecao quando ja existe null no banco
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/administrador/egresso/EgressoAdmController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/egresso/EgressoController.java
Labels: bug, Done, Back-End, 1

#460 refactor(perfil): utiliza componente padrão datePicker
  frontend/src/pages/CadastroEgresso/CadastroEgresso.vue
  frontend/src/pages/EmailAdmin/EmailAdmin.vue
  frontend/src/pages/PerfilEgresso/PerfilEgresso.vue
  frontend/src/pages/PerfilEgresso/components/ProfileImage.vue
Labels: Front-End, refactor, 4
