Repository LabEsUFPA/meuEgresso, pull requests merged in 2023-05, with the labels that each got.

#91 85 feature novo egresso dto
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/administrador/contribuicao/ContribuicaoAdmController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/contribuicao/ContribuicaoController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/egresso/EgressoController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/administradores/egresso/EgressoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/contribuicao/ContribuicaoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/cota/CotaDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/depoimento/DepoimentoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoCadastroDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoPublicDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/empresa/EmpresaDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/palestras/PalestrasDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/tipobolsa/TipoBolsaDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/titulacao/TitulacaoEgressoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/AnuncioModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/AreaAtuacaoModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/ComentarioModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/ContribuicaoModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/CotaModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/CursoModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/DepoimentoModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EgressoEmpresaModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EgressoModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EgressoTitulacaoModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EgressoValidoModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EmpresaModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EnderecoModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/FaixaSalarialModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/GeneroModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/GrupoModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/PalestraModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/SetorAtuacaoModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/TipoBolsaModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/TitulacaoModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/UsuarioModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/areaatuacao/AreaAtuacaoRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/curso/CursoRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/empresa/EmpresaRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/endereco/EnderecoRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/palestra/PalestraRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/setoratuacao/SetorAtuacaoRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/titulacao/TitulacaoRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/areaatuacao/AreaAtuacaoService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/areaatuacao/impl/AreaAtuacaoImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/curso/CursoService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/curso/impl/CursoServiceImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/EgressoService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/impl/EgressoServiceImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/empresa/EmpresaService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/empresa/impl/EmpresaServiceImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/endereco/EnderecoService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/endereco/impl/EnderecoServiceImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/palestra/PalestraService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/palestra/impl/PalestraServiceImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/setoratuacao/SetorAtuacaoService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/setoratuacao/impl/SetorAtuacaoImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/titulacao/TitulacaoService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/titulacao/impl/TitulacaoServiceImpl.java
  backend/meuegresso/src/main/resources/application-homol.yml
  backend/meuegresso/src/main/resources/application-prod.yml
  backend/meuegresso/src/main/resources/dump.sql
Labels: Done, Back-End

#90 feat (RF 002): integração com o backend
  frontend/.env.example
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/@types/index.d.ts
  frontend/src/components/CustomButton.vue
  frontend/src/components/CustomCheckbox.vue
  frontend/src/components/CustomDialog.vue
  frontend/src/components/CustomSelect.vue
  frontend/src/pages/CadastroEgresso.vue
  frontend/src/services/localStorage.ts
  frontend/src/store/CadastroEgresso.ts
  frontend/src/store/LoginStore.ts
Labels: Done

#96 feat: atualização dos DTOs
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoEmpresaBasicDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoTitulacaoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/empresa/EmpresaBasicDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/setoratuacao/SetorAtuacaoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/usuario/UsuarioAuthDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/ContribuicaoModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/CotaModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/DepoimentoModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EgressoEmpresaModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EgressoTitulacaoModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/TipoBolsaModel.java
Labels: Done, Back-End

#102 fix: resolução bug senha não criptografada
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/usuario/impl/UsuarioServiceImpl.java
Labels: Done, Back-End

#105 fix: RF001 TESTES UNITARIOS
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/repository/usuario/UsuarioRepositoryTest.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/service/usuario/impl/UsuarioServiceImplTest.java
Labels: bug, Done, Back-End, test, refactor, nivel:critico

#117 109 feature reformar checkbox de desejo para pós graduação
  .github/workflows/codeql.yml
  README.md
  frontend/src/pages/CadastroEgresso.vue
Labels: Done

#127 [FEATURE]: Front-end - RF014 - Manter perfil
  frontend/src/@types/index.d.ts
  frontend/src/components/CustomButton.vue
  frontend/src/components/HeaderAndFooter.vue
  frontend/src/components/UserDropdownMenu.vue
  frontend/src/pages/EdicaoContaAdmin.vue
  frontend/src/pages/EdicaoContaEgresso.vue
  frontend/src/pages/PaginaLogin.vue
  frontend/src/router/routes.ts
  frontend/src/store/EditaContaUsuarioStore.ts
  frontend/src/store/LoginStore.ts
  frontend/src/tests/UserDropdownMenu.test.ts
Labels: enhancement, Done, Front-End, nivel:normal

#128 119 feature rota pública para fetch de egresso dev
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/config/security/SecurityConfig.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/publico/egresso/EgressoPubController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoTitulacaoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/egresso/EgressoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/publico/usuario/UsuarioDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/EgressoService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/impl/EgressoServiceImpl.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/publico/egresso/EgressoPubControllerTest.java
Labels: enhancement, Done, Back-End, nivel:critico

#131 97 backend feature rf009 criação do mapa sociodemográfico
  backend/meuegresso/.env.exemple
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/config/security/SecurityConfig.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/egresso/EgressoController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/egresso/EgressoEmpresaController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/mapa/MapaController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/usuario/UsuarioController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/administradores/empresa/EmpresaDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoEmpresaDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoMapaDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoPublicDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/empresa/EmpresaDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/empresa/EmpresaMapaDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/faixasalarial/FaixaSalarialDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/usuario/UsuarioMapaDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EgressoEmpresaModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EgressoModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/EgressoEmpresaService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/EgressoService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/EgressoTitulacaoService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/impl/EgressoEmpresaServiceImpl.java
  backend/meuegresso/src/main/resources/application-homol.yml
  backend/meuegresso/src/main/resources/application.yml
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/mapa/MapaControllerTest.java
Labels: Done, Back-End

#134 [FEATURE] Link para perfil
  frontend/src/components/UserDropdownMenu.vue
Labels: enhancement, Done, Front-End

#129 44 feature rf004 permite edição de informações
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/egresso/EgressoController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/publico/egresso/EgressoPubController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/administradores/empresa/EmpresaDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoEmpresaBasicDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/empresa/EmpresaBasicDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/setoratuacao/SetorAtuacaoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/AreaAtuacaoModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EgressoEmpresaModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EgressoTitulacaoModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EmpresaModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EnderecoModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/PalestraModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/SetorAtuacaoModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/grupo/GrupoRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/setoratuacao/SetorAtuacaoRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/impl/EgressoServiceImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/setoratuacao/SetorAtuacaoService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/setoratuacao/impl/SetorAtuacaoServiceImpl.java
  backend/meuegresso/src/main/resources/application-prod.yml
  backend/meuegresso/src/main/resources/dump.sql
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/publico/egresso/EgressoPubControllerTest.java
  frontend/src/components/CustomButtonLink.vue
  frontend/src/components/CustomSelect.vue
  frontend/src/pages/CadastroEgresso.vue
  frontend/src/pages/PerfilEgresso.vue
Labels: enhancement, Done, Front-End, nivel:critico

#136 fix: Corrige tratamento da empresa null
  frontend/src/pages/PerfilEgresso.vue
Labels: Done, Front-End

#170 fix: adjust dockerfile and docker-compose
  frontend/docker-compose.yml
  frontend/docker/Dockerfile
Labels: Config

#191 [REFACTOR]: Componentes de front
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CustomCheckbox.vue
  frontend/src/components/CustomInput.vue
  frontend/src/components/CustomSelect.vue
  frontend/src/components/CustomTextarea.vue
  frontend/src/main.ts
  frontend/src/pages/CadastroEgresso.vue
  frontend/src/pages/PerfilEgresso.vue
  frontend/src/services/localStorage.ts
  frontend/src/tests/CustomInput.test.ts
  frontend/src/tests/CustomSelect.test.ts
  frontend/src/tests/CustomTextarea.test.ts
Labels: Front-End, refactor

#198 fix: regex fraco nome cadastro egresso
  frontend/src/pages/CadastroEgresso.vue
Labels: bug

#199 refactor: textos mais imperativos e assertivos
  frontend/src/pages/CadastroEgresso.vue
Labels: bug

#200 fix: bug data inconsistente no cadastro de egresso
  frontend/src/pages/CadastroEgresso.vue
Labels: bug

#161 118 feature adição de regex nos dto
  backend/meuegresso/.env.example
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/administrador/usuario/UsuarioAdmController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/egresso/EgressoController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/empresa/EmpresaController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/administradores/anuncio/AnuncioDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/administradores/anuncio/ComentarioDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/administradores/contribuicao/ContribuicaoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/administradores/cota/CotaDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/administradores/curso/CursoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/administradores/depoimento/DepoimentoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/administradores/egresso/EgressoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/administradores/empresa/EmpresaDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/administradores/endereco/EnderecoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/administradores/faixasalarial/FaixaSalarialDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/administradores/genero/GeneroDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/administradores/grupo/GrupoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/administradores/tipobolsa/TipoBolsaDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/anuncio/AnuncioDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/anuncio/ComentarioDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/areaatuacao/AreaAtuacaoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/auth/AuthenticationRequest.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/contribuicao/ContribuicaoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/cota/CotaDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/curso/CursoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/depoimento/DepoimentoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoCadastroDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoEmpresaBasicDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoEmpresaDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoPublicDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoTitulacaoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoValidoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/empresa/EmpresaBasicDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/empresa/EmpresaCadastroEgressoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/endereco/EnderecoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/faixasalarial/FaixaSalarialDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/genero/GeneroDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/grupo/GrupoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/palestra/PalestraDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/palestras/PalestrasDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/setoratuacao/SetorAtuacaoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/usuario/UsuarioDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/UsuarioModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/usuario/UsuarioRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/auth/AuthService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/usuario/impl/UsuarioServiceImpl.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/repository/usuario/UsuarioRepositoryTest.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/service/usuario/impl/UsuarioServiceImplTest.java
Labels: enhancement, Done, Back-End

#202 Create docker-api.yml
  .github/workflows/docker-api.yml
Labels: Back-End, Config

#206 150 feature rf006 envio de anuncio emprego
  backend/meuegresso/.env.example
  backend/meuegresso/docker-compose.yml
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/config/security/SecurityConfig.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/anuncio/AnuncioController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/areaemprego/AreaEmpregoController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/anuncio/AnuncioDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/anuncio/BuscaAnuncioDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/areaemprego/AreaEmpregoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/AnuncioModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/AreaEmpregoModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/mongo/FatorRiscoMongo.example
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/mongo/QuestionarioMongo.example
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/anuncio/AnuncioRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/areaemprego/AreaEmpregoRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/anuncio/AnuncioService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/anuncio/impl/AnuncioServiceImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/areaemprego/AreaEmpregoService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/areaemprego/impl/AreaEmpregoImpl.java
  backend/meuegresso/src/main/resources/application-homol.yml
  backend/meuegresso/src/main/resources/application-prod.yml
  backend/meuegresso/src/main/resources/application-test.yml
  backend/meuegresso/src/main/resources/data.sql
  backend/meuegresso/src/main/resources/dump.sql
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/anuncio/AnuncioControllerTest.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/mapa/MapaControllerTest.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/service/anuncio/AnuncioServiceTest.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/@types/index.d.ts
  frontend/src/components/DetailedPost.vue
  frontend/src/components/HeaderAndFooter.vue
  frontend/src/components/ShortPost.vue
  frontend/src/pages/AnuncioVaga.vue
  frontend/src/pages/CadastroAnuncio.vue
  frontend/src/pages/FeedVagas.vue
  frontend/src/router/routes.ts
  frontend/src/store/AnuncioVagaStore.ts
Labels: enhancement, Done, Front-End, Back-End

#204 Update docker-api.yml
  .github/workflows/build-api-develop.yml
  .github/workflows/build-api-main.yml
  .github/workflows/build-front-develop.yml
  .github/workflows/build-front-main.yml
  .github/workflows/docker-api.yml
Labels: Done, Config

#116 92 feature rf023 cadastrar foto de perfil backend
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/administrador/egresso/EgressoAdmController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/adviser/ControllerAdvise.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/egresso/EgressoController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/contribuicao/ContribuicaoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/depoimento/DepoimentoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoPublicDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/enumeration/ErrorType.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/enumeration/ResponseType.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/exceptions/NotFoundFotoEgressoException.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EgressoModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/TitulacaoModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/grupo/GrupoRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/EgressoService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/impl/EgressoServiceImpl.java
  backend/meuegresso/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  backend/meuegresso/src/main/resources/application-test.yml
  backend/meuegresso/src/main/resources/application.yml
  backend/meuegresso/src/main/resources/image/imagem.jpeg
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/egresso/EgressoControllerTest.java
Labels: enhancement, Done, Back-End, nivel:normal

#217 fix(Stories,Pages,Components): Corrige erros para build
  frontend/src/components/CustomCheckbox.vue
  frontend/src/components/FolderLocalizacao.vue
  frontend/src/pages/CadastroEgressoShort.vue
  frontend/src/stories/CustomButton.stories.ts
  frontend/src/stories/CustomCheckbox.stories.ts
  frontend/src/stories/CustomInput.stories.ts
  frontend/src/stories/CustomSelect.stories.ts
  frontend/src/stories/FolderSection.stories.ts
Labels: Front-End, nivel:critico

#218 feat: scroll to top when changing pages
  frontend/src/pages/AnuncioVaga.vue
  frontend/src/pages/CadastroAdmin.vue
  frontend/src/pages/CadastroAnuncio.vue
  frontend/src/pages/CadastroEgresso.vue
  frontend/src/pages/CadastroPerfil.vue
  frontend/src/pages/EdicaoContaAdmin.vue
  frontend/src/pages/EdicaoContaEgresso.vue
  frontend/src/pages/FeedVagas.vue
  frontend/src/pages/HomePage.vue
  frontend/src/pages/PaginaLogin.vue
  frontend/src/pages/PerfilEgresso.vue
Labels: refactor

#220 feat: adição da verificação se é egresso no JWT
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/enumeration/JwtUtils.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/egresso/EgressoRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/auth/JwtService.java
  backend/meuegresso/src/main/resources/application-homol.yml
Labels: Done, Back-End

#215 Feature homol deploy
  backend/meuegresso/.env.example
  backend/meuegresso/deploy_traefik.sh
  backend/meuegresso/docker-compose.api.yml
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/config/properties/CorsProperties.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/config/properties/TokenProperties.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/config/security/SecurityConfig.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/auth/AuthenticationController.java
  backend/meuegresso/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  backend/meuegresso/src/main/resources/application-test.yml
  backend/meuegresso/src/main/resources/application.yml
  frontend/deploy_traefik.sh
  frontend/docker-compose.yml
  frontend/docker/Dockerfile
  frontend/docker/default.conf
Labels: Done, Back-End, Config

#219 98 frontend feature rf023 integrar foto de perfil
  frontend/.env.example
  frontend/src/assets/round-upload.svg
  frontend/src/assets/trashCan.svg
  frontend/src/components/ButtonActionIcon.vue
  frontend/src/components/FolderAcademico.vue
  frontend/src/components/FolderAdicionais.vue
  frontend/src/components/FolderGeral.vue
  frontend/src/components/FolderLocalizacao.vue
  frontend/src/components/ModalFilters.vue
  frontend/src/components/ProfileImage.vue
  frontend/src/pages/PerfilEgresso.vue
  frontend/src/store/PerfilEgressoStore.ts
  frontend/src/tests/ButtonActionIcone.test.ts
  frontend/src/tests/CustomButtonLink.test.ts
  frontend/src/tests/ProfileImage.test.ts
Labels: enhancement, Done, Front-End, nivel:critico

#224 165 bug pular cadastro após pré cadastro
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/auth/AuthenticationController.java
  frontend/index.html
  frontend/src/pages/CadastroEgresso.vue
  frontend/src/pages/PageNotFound.vue
  frontend/src/router/index.ts
  frontend/src/router/routes.ts
  frontend/src/store/CadastroEgresso.ts
  frontend/src/store/LoginStore.ts
Labels: bug, Done, Front-End

#222 162 feature rf005 feed de notícias
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/administrador/anuncio/AnuncioAdmController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/anuncio/AnuncioController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/anuncio/AnuncioDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/anuncio/BuscaAnuncioDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/page/PageDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/AnuncioModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/anuncio/AnuncioRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/anuncio/AnuncioService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/anuncio/impl/AnuncioServiceImpl.java
  backend/meuegresso/src/main/resources/dump.sql
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/anuncio/AnuncioControllerTest.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/service/anuncio/AnuncioServiceTest.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/@types/index.d.ts
  frontend/src/components/FilterChip.vue
  frontend/src/components/ModalFilters.vue
  frontend/src/components/SearchBar.vue
  frontend/src/components/Searchbar.vue
  frontend/src/components/ShortPost.vue
  frontend/src/components/UserDropdownMenu.vue
  frontend/src/pages/AnuncioVaga.vue
  frontend/src/pages/CadastroAnuncio.vue
  frontend/src/pages/FeedVagas.vue
  frontend/src/router/index.ts
  frontend/src/store/AnuncioVagaStore.ts
  frontend/src/tests/FilterChip.test.ts
  frontend/src/tests/ModalFilters.test.ts
  frontend/src/tests/SearchBar.test.ts
  frontend/src/tests/ShortPost.test.ts
Labels: enhancement, Done, Front-End, Back-End

#231 fix: adição dos construtor a classe DTO
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/curso/CursoDTO.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/anuncio/AnuncioControllerTest.java
Labels: bug, Done, Back-End
