Repository LabEsUFPA/meuEgresso, pull requests merged in 2023-07, with the labels that each got.

#468 444 refactor folder localização e carreira
  frontend/src/pages/CadastroEgresso/CadastroEgresso.vue
  frontend/src/pages/PerfilEgresso/PerfilEgresso.vue
  frontend/src/pages/PerfilEgresso/components/FolderCarreira.vue
  frontend/src/pages/PerfilEgresso/components/FolderLocalizacao.vue
Labels: Done, Front-End, refactor

#470 469 feature delete usando usuario model
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/administrador/usuario/UsuarioAdmController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/UsuarioModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/EgressoService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/impl/EgressoServiceImpl.java
  frontend/src/components/AdminOptionsDropdown.vue
  frontend/src/store/PainelStore.ts
Labels: Done, Front-End, Back-End

#478 196 feature adicionar universidades
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/administrador/egresso/EgressoAdmController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/administrador/empresa/EmpresaAdmController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/egresso/EgressoController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/empresa/EmpresaController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/administradores/AuditableDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/administradores/empresa/EmpresaDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoCadastroDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/empresa/EmpresaBasicDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/empresa/EmpresaCadastroEgressoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/empresa/EmpresaDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/model/EmpresaModel.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/empresa/EmpresaRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/egresso/impl/EgressoServiceImpl.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/empresa/EmpresaService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/empresa/impl/EmpresaServiceImpl.java
  backend/meuegresso/src/main/resources/application-homol.yml
  backend/meuegresso/src/main/resources/data.sql
  backend/meuegresso/src/main/resources/dump.asdsadsadsql
  backend/meuegresso/src/main/resources/dump.sql
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/egresso/EgressoControllerTest.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/egresso/EgressoEmpresaControllerTest.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/empresa/EmpresaControllerTest.java
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/service/empresa/EmpresaServiceTest.java
  frontend/.env.example
  frontend/src/@types/index.d.ts
  frontend/src/components/CustomSelect.vue
  frontend/src/components/LocalizacaoSelect.vue
  frontend/src/components/UserDropdownMenu.vue
  frontend/src/pages/CadastroEgresso/CadastroEgresso.vue
  frontend/src/pages/PerfilEgresso/PerfilEgresso.vue
  frontend/src/pages/PerfilEgresso/components/FolderAcademico.vue
  frontend/src/pages/PerfilEgresso/components/FolderCarreira.vue
  frontend/src/services/apiEnderecos.ts
  frontend/src/store/CadastroEgresso.ts
  frontend/src/store/PerfilEgressoStore.ts
Labels: enhancement, help wanted, Done, Front-End, Back-End, refactor, nivel:critico, atrasado, database, 3

#482 fix: alterar regex do linkedin
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/egresso/EgressoController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/administradores/egresso/EgressoAttDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/administradores/egresso/EgressoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoCadastroDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoPublicDTO.java
Labels: Back-End, 1

#485 fix: bug mapa cota
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/cota/CotaRepository.java
Labels: bug, Back-End

#487 484 refactor instituicao select
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/administrador/egresso/EgressoAdmController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/auth/AuthenticationController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/controller/egresso/EgressoController.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/curso/CursoUpdateDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/egresso/EgressoTitulacaoDTO.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/dto/titulacao/TitulacaoEgressoDTO.java
  backend/meuegresso/src/main/resources/dump.sql
  backend/meuegresso/src/test/java/labes/facomp/ufpa/br/meuegresso/controller/egresso/EgressoTitulacaoControllerTest.java
  frontend/src/components/LocalizacaoSelect.vue
  frontend/src/pages/CadastroEgresso/CadastroEgresso.vue
  frontend/src/pages/PerfilEgresso/PerfilEgresso.vue
Labels: enhancement, help wanted, Done, Front-End, Back-End, nivel:critico, database, 1

#488 fix: label nascimento
  frontend/src/pages/CadastroEgresso/CadastroEgresso.vue
  frontend/src/pages/PerfilEgresso/PerfilEgresso.vue
  frontend/src/pages/PerfilEgresso/components/FolderCarreira.vue
Labels: Done, Front-End

#492 fix: bug
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/repository/anuncio/AnuncioRepository.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/usuario/UsuarioService.java
  backend/meuegresso/src/main/java/labes/facomp/ufpa/br/meuegresso/service/usuario/impl/UsuarioServiceImpl.java
Labels: bug, Back-End

#496 [BUG]: Alinhamento do input na tela de cadastro pelo administrador
  frontend/src/pages/CadastroAdmin/CadastroAdmin.vue
Labels: help wanted, Done, nivel:critico, 1

#499 fix: cidadeId requisição
  frontend/src/pages/PerfilEgresso/PerfilEgresso.vue
Labels: bug, help wanted, Done, Front-End, nivel:critico, 1
